@import "style";

#filter {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 7%;
  gap: 10px;
  #sorting {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    color: #2c3e50;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    &:hover {
      border-color: #1976d2;
    }

    &:focus {
      outline: none;
      border-color: #1976d2;
      box-shadow: 0 0 5px rgba(200, 222, 245, 0.5);
    }
  }

  .option {
    font-size: 16px;
    padding: $padding-left;
    background-color: #ffffff;
    color: #2c3e50;
    border: none;

    &:hover {
      background-color: #f4f6f9;
    }
  }
}
